<ion-view title="Interesses" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="interesses-form6" class="list ">
            <ion-radio id="interesses-radio5" class=" ">Computer Games</ion-radio>
            <ion-radio id="interesses-radio8" class=" ">School</ion-radio>
            <ion-radio id="interesses-radio7" class=" ">Sports</ion-radio>
            <ion-radio id="interesses-radio9" class=" ">Work</ion-radio>
            <ion-radio id="interesses-radio10" class=" ">Travel</ion-radio>
        </form>
        <a ui-sref="app.subinteresse" id="interesses-button11" class=" button button-positive  button-block ">Choice!</a>
    </ion-content>
</ion-view>
