<ion-view title="IOT - NN" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <a ui-sref="app.profile" id="iOTNN-button6" style="font-weight:;" class=" button button-positive button-large icon ion-heart "></a>
        <a ui-sref="app.profile" id="iOTNN-button5" style="font-weight:;" class=" button button-positive button-large icon ion-heart-broken "></a>
    </ion-content>
</ion-view>
