<ion-view title="subinteresse" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="subinteresse-form8" class="list ">
            <ion-radio id="subinteresse-radio15" class=" ">League of Legends</ion-radio>
            <ion-radio id="subinteresse-radio16" class=" ">Counter Strike</ion-radio>
            <ion-radio id="subinteresse-radio17" class=" ">Mu Online</ion-radio>
            <ion-radio id="subinteresse-radio18" class=" ">Tibia</ion-radio>
            <ion-radio id="subinteresse-radio19" class=" ">Clash of Clans</ion-radio>
        </form>
        <a ui-sref="app.gallery" id="subinteresse-button13" class=" button button-positive  button-block ">Lets Learning!</a>
    </ion-content>
</ion-view>
